@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  --primary: #dce3e9;
}

*,
html {
  margin: 0;
  padding: 0;
}
body {
  color: var(--primary);
  font-family: "Lobster", cursive;
}
.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

header {
  background: url("./assets/car1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  height: 100vmin;
  background-color: rgba(241, 156, 156, 0.26);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
}

.main-section {
  display: flex;
  align-items: center;
  height: inherit;
}

.main-section h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 7rem;
  font-style: italic;
  letter-spacing: 0.7rem;
}

i {
  color: var(--primary);
}

.btn {
  border: transparent;
  background-color: transparent;
  color: var(--primary);
  font-size: larger;
  margin-left: 1rem;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease-in color;
}

.logo:hover {
  color: darkgrey;
}
